flask==2.0.1
werkzeug==1.0.1
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.13.1+cpu
torchvision==0.14.1+cpu
pillow==9.5.0
numpy==1.24.3
python-dotenv==1.0.0
google-generativeai==0.3.2
gunicorn==20.1.0